<div id="sidebar-footer" class="footer-widgets visibility-all">
	<div class="container">
		<div class="footer-widgets-grid footer-layout-3 align-top">
								<div class="sidebar-column">
				<aside id="nav_menu-16" class="widget widget_nav_menu"><h3 class="widget-title">About</h3><div class="menu-footer-left-container"><ul id="menu-footer-left" class="menu"><li id="menu-item-7256" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7256"><a href="/2020/01/01/author/">Made with ☕ by Max</a></li>
</ul></div></aside>			</div>
				
								<div class="sidebar-column">
				<aside id="nav_menu-14" class="widget widget_nav_menu"><h3 class="widget-title">Archives</h3><div class="menu-year-list-container"><ul id="menu-year-list" class="menu"><li id="menu-item-9057" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9057"><a href="/category/%E6%89%80%E6%9C%89%E6%96%87%E7%AB%A0/">All posts</a></li>
<li id="menu-item-10368" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10368"><a href="/2026/">2026</a></li>
<li id="menu-item-9985" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9985"><a href="/2025/">2025 (8 pages)</a></li>
<li id="menu-item-9700" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9700"><a href="/2024/">2024 (4 pages)</a></li>
<li id="menu-item-8205" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8205"><a href="/2023/">2023 (22 pages)</a></li>
<li id="menu-item-8204" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8204"><a href="/2022/">2022 (20 pages)</a></li>
<li id="menu-item-8206" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8206"><a href="/2021/">2021 (17 pages)</a></li>
<li id="menu-item-8207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8207"><a href="/2020/">2020 (48 pages)</a></li>
<li id="menu-item-8208" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8208"><a href="/2019/">2019 (35 pages)</a></li>
<li id="menu-item-8209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8209"><a href="/2018/">2018 (31 pages)</a></li>
</ul></div></aside>			</div>
				
								<div class="sidebar-column">
				<aside id="nav_menu-18" class="widget widget_nav_menu"><h3 class="widget-title">Explore</h3><div class="menu-footer-right-container"><ul id="menu-footer-right" class="menu"><li id="menu-item-7483" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7483"><a href="/2022/05/03/python-tutorial/">Python</a></li>
<li id="menu-item-8181" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8181"><a href="/2023/01/01/git-tutorial-roadmap/">Git</a></li>
<li id="menu-item-7257" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7257"><a href="/2020/05/01/flask-list/">Flask</a></li>
<li id="menu-item-8310" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8310"><a href="/2020/04/09/concurrency-programming/">Crawler</a></li>
<li id="menu-item-7259" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7259"><a href="/2019/04/20/categories/">Data Analytics</a></li>
<li id="menu-item-7258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7258"><a href="/2021/10/24/quick-start-data-studio-category/">Dashboard</a></li>
<li id="menu-item-8577" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8577"><a href="/2023/06/01/gtm-tutorial-roadmap/">GTM</a></li>
<li id="menu-item-7260" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7260"><a href="https://article.maxlist.xyz/">Max Newsletter</a></li>
</ul></div></aside>			</div>
				
				</div>
	</div>
</div>
<footer id="colophon" class="site-footer">
		<div class="container">
			<div class="site-info">
				<div class="row">
					<div class="col-md-6">
						<div class="sydney-credits">© 2026 Max行銷誌.</div>					</div>
					<div class="col-md-6">
											</div>					
				</div>
			</div>
		</div><!-- .site-info -->
	</footer>
