<div id="secondary" class="widget-area col-md-3" role="complementary">
	<aside id="nav_menu-19" class="widget widget_nav_menu"><h3 class="widget-title">Archives</h3><div class="menu-year-list-container"><ul id="menu-year-list" class="menu"><li id="menu-item-9057" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9057"><a href="/category/%E6%89%80%E6%9C%89%E6%96%87%E7%AB%A0/">All posts</a></li>
<li id="menu-item-10368" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10368"><a href="/2026/">2026</a></li>
<li id="menu-item-9985" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9985"><a href="/2025/">2025 (8 pages)</a></li>
<li id="menu-item-9700" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9700"><a href="/2024/">2024 (4 pages)</a></li>
<li id="menu-item-8205" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8205"><a href="/2023/">2023 (22 pages)</a></li>
<li id="menu-item-8204" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8204"><a href="/2022/">2022 (20 pages)</a></li>
<li id="menu-item-8206" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8206"><a href="/2021/">2021 (17 pages)</a></li>
<li id="menu-item-8207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8207"><a href="/2020/">2020 (48 pages)</a></li>
<li id="menu-item-8208" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8208"><a href="/2019/">2019 (35 pages)</a></li>
<li id="menu-item-8209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8209"><a href="/2018/">2018 (31 pages)</a></li>
</ul></div></aside><aside id="nav_menu-8" class="widget widget_nav_menu"><h3 class="widget-title">Category</h3><div class="menu-side-bar-container"><ul id="menu-side-bar" class="menu"><li id="menu-item-8242" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8242"><a href="/2022/05/03/python-tutorial/">Python 從 0 開始教學手冊</a></li>
<li id="menu-item-8241" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8241"><a href="/2023/01/01/git-tutorial-roadmap/">Git 學習路線指南</a></li>
<li id="menu-item-8244" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8244"><a href="/2020/05/01/flask-list/">Flask 入門指南</a></li>
<li id="menu-item-8307" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8307"><a href="/2020/04/09/concurrency-programming/">進階爬蟲</a></li>
<li id="menu-item-8245" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8245"><a href="/2019/04/20/categories/">走在數據工程師的路上</a></li>
<li id="menu-item-8243" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8243"><a href="/2021/10/24/quick-start-data-studio-category/">數據視覺化 Looker Studio</a></li>
<li id="menu-item-8576" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8576"><a href="/2023/06/01/gtm-tutorial-roadmap/">數據追蹤學 GTM</a></li>
</ul></div></aside><aside id="nav_menu-17" class="widget widget_nav_menu"><h3 class="widget-title">Hot Topic</h3><div class="menu-hot-topic-container"><ul id="menu-hot-topic" class="menu"><li id="menu-item-7929" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-7929"><a href="/2020/04/14/shopee-crawler/">蝦皮賣家競品分析</a></li>
<li id="menu-item-9843" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-9843"><a href="/2024/08/05/page-optimize/">電商小細節：頁面優化經驗談</a></li>
<li id="menu-item-7931" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-7931"><a href="/2018/09/03/cohort_analysis_part2/">電商數據儀表板</a></li>
<li id="menu-item-7930" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-7930"><a href="/2020/08/13/analytics-blog-dashboard/">從部落格學數據分析</a></li>
<li id="menu-item-8246" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8246"><a href="/2021/01/11/python-object/">Python 一切皆為物件，到底什麼是物件 Object ?</a></li>
<li id="menu-item-8255" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-8255"><a href="/2020/05/03/git-reset-checkout/">Git 時光機 – 回復版本的 2 種方法</a></li>
<li id="menu-item-7933" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-7933"><a href="/2020/09/21/huli-mentor/">過去一年，下班後的學習</a></li>
</ul></div></aside><aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">Tags</h3>
			<ul>
					<li class="cat-item cat-item-220"><a href="/category/%e6%89%80%e6%9c%89%e6%96%87%e7%ab%a0/">All posts</a> (178)
</li>
	<li class="cat-item cat-item-612"><a href="/category/cryoto/">Crypto</a> (6)
</li>
	<li class="cat-item cat-item-631"><a href="/category/git-%e6%95%99%e5%ad%b8/">Git 教學</a> (10)
</li>
	<li class="cat-item cat-item-184"><a href="/category/gtm%e5%9f%8b%e8%a8%ad/">Google Tag Manager 教學</a> (19)
</li>
	<li class="cat-item cat-item-597"><a href="/category/looker-studio-%e6%95%99%e5%ad%b8/">Looker Studio 教學</a> (13)
</li>
	<li class="cat-item cat-item-700"><a href="/category/n8n/">n8n</a> (3)
</li>
	<li class="cat-item cat-item-315"><a href="/category/python-django/">Python Django 教學</a> (3)
</li>
	<li class="cat-item cat-item-203"><a href="/category/python-flask/">Python Flask 教學</a> (36)
</li>
	<li class="cat-item cat-item-314"><a href="/category/python-base/">Python 基礎教學</a> (29)
</li>
	<li class="cat-item cat-item-101"><a href="/category/analytics/">Python 數據分析</a> (25)
</li>
	<li class="cat-item cat-item-316"><a href="/category/python-ml/">Python 機器學習</a> (6)
</li>
	<li class="cat-item cat-item-102"><a href="/category/python-crawler/">Python 爬蟲教學</a> (15)
</li>
	<li class="cat-item cat-item-129"><a href="/category/python-sql/">Python 資料庫教學</a> (12)
</li>
	<li class="cat-item cat-item-173"><a href="/category/swift/">Swift 教學</a> (5)
</li>
	<li class="cat-item cat-item-708"><a href="/category/%e6%95%b8%e6%93%9a%e8%87%aa%e5%8b%95%e5%8c%96/">數據自動化</a> (1)
</li>
			</ul>

			</aside><aside id="nav_menu-20" class="widget widget_nav_menu"><h3 class="widget-title">About</h3><div class="menu-footer-left-container"><ul id="menu-footer-left" class="menu"><li id="menu-item-7256" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7256"><a href="/2020/01/01/author/">Made with ☕ by Max</a></li>
</ul></div></aside></div>
